html {
    scroll-behavior: smooth;
}
body {
    padding:0px;
    margin:0px;
    /* background-image: url("https://source.unsplash.com/random/1820x1080/?star,night"); */
    font-family: Poppins, Helvetica;
    box-sizing: border-box;
}
.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top:0px;
    /* background-image: url("https://64.media.tumblr.com/10ee5090b504475f3fa22b498972658c/tumblr_ou0r4sDajq1sn3ne4o1_1280.jpg"); */
    background-image: url(static/street_of_easval_enh.jpg);
    background-size: cover;
}
.nav-container {
    position: fixed;
    top: 14px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
a {
    all: unset;
}
.move-down-on-click:active {
    transform: translateY(1px);
}
.nav {
    position: relative;
    background-color: hsl(1,	14%, 22%, 0.4);
    height: 75px;
    width: 98%;
    border-radius: 16px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px
}

.logo-tile {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor:pointer;
}

.logo {
    font-size: 38px;
    color: #d6d6d6; 
    font-family: New Rocker, serif;
}

.item-title {
    color: white;
    font-weight: bold;
    font-size: 19px;
    height: 65%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    /* text-shadow: 1px 1px 2px hsl(0,0%,0%,0.6); */
}

.item-title:hover {
    background-color:hsl(0,0%,100%,0.05);
    cursor:pointer;
}
.play-btn {
    font-family: Eczar;
    color: white;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 80%;
    border-radius: 13px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 7px;
    cursor:pointer;
}

.main-item-bg {
    background-color:hsl(1,	14%, 40%, 0.3);
}

.main-item-bg:hover {
    background-color: hsl(6, 10%, 37%);
}


.content {
    width: 100%;
    display: grid;
}
h2 {
    font-size: 55px;
    color:white;
    font-family: Eczar;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.367);
    margin-bottom: 0.5rem;
}
h1 {
    font-size: 70px;
    color:white;
    font-family: Eczar;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.367);
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.main-heading-container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.flex-1 {
    flex: 1;
    min-height: 100px;
}
.main-heading {
    flex: 0;
    padding-bottom: 50px;
    min-width: 1500px;
}
.learn-more {
    position: relative;
    display: inline-block;
    background-color: rgba(64, 14, 6, 0.716);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    font-size: 23px;
    color: rgb(234, 233, 231);
    font-family: Eczar;
    text-shadow: 2px 2px 3px black;
    border: 1px solid rgba(111, 25, 11, 0.716);
    transition: 0.1s;
}
.learn-more:hover {
    transition: 0.2s;
    background-color: rgba(80, 18, 8, 0.94);
    border: 1px solid rgba(139, 31, 15, 0.716);
}
.bg-blur::before{
    border-radius: inherit;
    content: "";
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position:absolute;
    backdrop-filter: blur(55px);
    top: 0;
    left: 0;
}
.btn {
    cursor: pointer;
}

.main-description {
    width: 80%;
    font-size: 23px;
    color: rgb(234, 233, 231);
    font-family: Eczar;
    text-shadow: 2px 2px 3px black;
}
.tiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.tile-fade {
    width: 40%;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    z-index: -1; 
    position:absolute;
    background: linear-gradient(to right,var(--clr-dark) 5%, var(--clr) 60%, var(--clr-faded) 80%, #00000000);
}
.tile {
    z-index: 0;
    width: 100%;
    height: 30vw;
    background-color: rgb(67, 49, 41);
    box-sizing: border-box;
    border: solid 1px rgba(220, 186, 179, 0.47);
    background-position-x: right;
    background-size: 80%;
    background-repeat: repeat-x;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0px 0px 2px 1px rgba(37, 29, 27, 0.497);
}
.tile-content {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 100px;
}
@media only-screen and (max-width: 700px) {
    .tile {
        height: 100vw;
        background-color: beige;
    }
}
.tile-description {
    width: 75%;
    font-size: 19px;
    color: rgb(234, 233, 231);
    font-family: Eczar;
    text-shadow: 2px 2px 3px black;
}
.chevron-down {
    font-size: 1px;
}
.dropdown-container {
    position: absolute;
    top: -10000;
    opacity: 20%;
}
.dropdown {
    background-color: hsl(6, 10%, 37%);
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    padding-top: 12px;
    position: relative;
    transition: 1s;
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.dropdown-item {
    color: white;
    font-size: 18px;
    padding: 10px;
    padding-right: 50px;
    text-align: left;
    border-radius: 5px;
}
.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.145);
}
.dropdown-container:hover, .nav-item:hover .dropdown-container {
    top: inherit;
    opacity: 100%;
    transition: .15s;
    transition-property: opacity;
}
.dropdown:hover, .nav-item:hover .dropdown {
    transition: .15s;
    padding-top: 15px;
    gap: 5px;
}
.dropdown-container::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 3px;
    transform: translateY(10px) translateX(25px) rotate(45deg);
    background-color: hsl(6, 10%, 37%);
}
.external::after {
    content:"↗";
    margin-left: 10px;
    font-size: 15px;
}
.nav-hook {
    position: absolute;
    transform: translateY(-150px);
}