body {
    background-image: url("https://source.unsplash.com/random/1820x1080/?star,night");
    font-family: Poppins, Helvetica
}

.nav {
    position: fixed;
    top: 8px;
    background-color: hsl(1,	14%, 22%, 0.4);
    backdrop-filter: blur(10px);
    height: 75px;
    width: 98%;
    border-radius: 16px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px
}

.logo-tile {
    width: 150px;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor:pointer;
}

.logo {
    font-size: 27px;
    color: white;  
}

.nav-item {
    color: white;
    font-weight: bold;
    font-size: 19px;
    height: 65%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 1px 1px 2px hsl(0,0%,0%,0.6);
}

.play-btn {
    color: white;
    color: white;
    font-weight: bold;
    font-size: 25px;
    height: 80%;
    border-radius: 13px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 7px;
    cursor:pointer;
}

.main-item-bg {
    background-color:hsl(1,	14%, 40%, 0.3);
}

.main-item-bg:hover {
    background-color:hsl(1,	20%, 30%, 0.5);
}

.nav-item:hover {
    background-color:hsl(0,0%,100%,0.05);
    cursor:pointer;
}